@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#canvas1 {
	background-color: rgb(13, 12, 12);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#controls {
	background-color: rgb(110, 110, 110);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	align-items: center;
	gap: 10px;
	border: 2px solid white;
	left: 20px;
	top: 20px;
	width: 270px;
}

.box {
	gap: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
}

#labelCanvasPk {
	line-height: 23px;
}

button {
	padding: 10px 40px;
	width: 220px;
	font-size: 20px;
}

label,
input {
	color: white;
	font-size: 20px;
}

@media screen and (max-width: 800px) {
	#controls {
		width: 140px;
	}
	.box {
		flex-wrap: wrap;
	}
	button {
		width: 120px;
		text-align: center;
		padding: 10px 5px;
	}
}
